.fontUploaded {
    background-color: #c2ff9e;
    border: 1px solid #86e885;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
}
.fontUploaded p {
    color: #099c0a;
    text-align: left;
    margin: 0;
    padding: 0;
}

.fontLocation {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
}
.fontLocation p {
    color: #3a87ad;
    text-align: left;
    margin: 0;
    padding: 0;
}
